.jumbotron {
  background-color: black;
  background-image: url('http://lorempixel.com/g/1920/510/abstract/6');
  color: white;
}

.jumbotron h1 {
  text-align: center;
  border: 3px solid white;
  width: 500px;
}

.jumbotron a {
  color: #5BC0DE;
}

.about-text h3 {
  border: 3px solid black;
}

.navbar {
  margin-bottom: 0px;
}

.about-header h2 {
	text-align: center;
}
