<html lang="en-US">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="CryptoPrice.js"></script>
		<title>CryptoPrice</title>
	</head>
	<body ng-app="CryptoPrice">
		<div ng-controller="headerInfo" style="margin:15px;">
			<h1>{{title}}</h1>
			<div class="container">
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Settings
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">Number of decimals <input type="text" name="decimals" ng-model="settings.decimals"></a></li>
						<li><a href="#">CSS</a></li>
						<!-- <li><a href="#">JavaScript</a></li> -->
					</ul>
				</div>
			</div>
			<h4>coinmarketcap top 10 ranked</h4>
			<div ng-repeat="result in results">
				<h3>{{result.rank}}) {{result.name}}</h3>
				<label>
					Amount owned:
					<input type="text" name="input" ng-model="crypto.amount">
					Coin worth = {{crypto.amount * result.price_usd | currency:"USD$":settings.decimals}}
				</label>
				<p><strong>{{result.price_usd | currency:"USD$":settings.decimals}}</strong> | MCap: {{result.market_cap_usd | currency:"USD$":settings.decimals }} - Supply: {{result.available_supply | currency:"USD$":settings.decimals}}</p>
				<table>
					<tr>
						<th>
							%change 1h
						</th>
						<th>
							%change 24h
						</th>
						<th>
							%change 7d
						</th>
					</tr>
					<tr>
						<td ng-class="{positiveChange: result.percent_change_1h >= 0, negativeChange: result.percent_change_1h < 0}">
							{{result.percent_change_1h}}
						</td>
						<td ng-class="{positiveChange: result.percent_change_24h >= 0, negativeChange: result.percent_change_24h < 0}">
							{{result.percent_change_24h}}
						</td>
						<td ng-class="{positiveChange: result.percent_change_7d >= 0, negativeChange: result.percent_change_7d < 0}">
							{{result.percent_change_7d}}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
