td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.container {
    margin: 0px;
    padding: 0px;
}

.positiveChange {
    background-color: green;
}

.negativeChange {
    background-color: red;
}
